@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

nextjs-portal {
  display: none !important;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 0px;
}
.custom-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* in globals.css */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

/* Add this in your global CSS file (e.g., globals.css) */
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important; /* pure white */
}

/* Optional: softer white */
.swiper-button-next,
.swiper-button-prev {
  color: rgba(255, 255, 255, 0.85) !important; /* dark white */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #ffffff; /* brighter on hover */
  transform: scale(1.1);
  transition: all 0.2s ease;
}
